<svg class="fullsvg" viewBox="0 0 100 100">

    <g app-tanti-auguri [letters]="letters" />

    <g *ngFor="let item of collected" [attr.transform]="transformCollected(item)">
        <svg:g app-badge-cup [sign]="true" [score]="item.score"></svg:g>
    </g>

    <g *ngFor="let baloon of baloons" >
        <g app-baloon [baloon]="baloon" (score)="scoreBaloon($event)" (done)="doneBaloon($event)"></g>
    </g>

    <g *ngFor="let baloon of baloons" >
        <g app-baloon [baloon]="baloon" (score)="scoreBaloon($event)" (done)="doneBaloon($event)"></g>
    </g>
    <g app-clouds [tantiauguri]="tantiauguri"></g>

</svg>

<div *ngIf="showNewRound" class="fullsvg" (click)="clickStageScore()">
    <svg viewBox="0 0 100 100">
        <svg:g app-badge-cup [score]="totalScore()"></svg:g>
    </svg>
</div>

<div class="panel-menu-list bottom-right-menu">
    <div class="panel-menu-item button menu" (click)="resetGame()">
        <div app-reset-game></div>
    </div>
</div>

<div [@finalscore] *ngIf="showFinalScore" class="fullsvg" (click)="showFinalScore = false; showHighscores = true">
    <svg viewBox="0 0 100 100">
        <svg:g app-badge-cup [score]="totalScore()"></svg:g>
    </svg>
</div>

<div *ngIf="showHighscores">
    <div app-highscore></div>
</div>

<div class="panel-menu-list top-left-menu">
    <div class="panel-menu-item button menu" (click)="toggleHighscores()">
        <svg viewBox="0 0 100 100">
            <svg:g app-badge-cup [score]="totalScore()"></svg:g>
        </svg>
    </div>
</div>