.letter {
    opacity: 0.25;
}

.show-T1 .letter-T1 {opacity: 1;}
.show-A1 .letter-A1 {opacity: 1;}
.show-N1 .letter-N1 {opacity: 1;}
.show-T2 .letter-T2 {opacity: 1;}
.show-I1 .letter-I1 {opacity: 1;}
.show-A2 .letter-A2 {opacity: 1;}
.show-U1 .letter-U1 {opacity: 1;}
.show-G1 .letter-G1 {opacity: 1;}
.show-U2 .letter-U2 {opacity: 1;}
.show-R1 .letter-R1 {opacity: 1;}
.show-I2 .letter-I2 {opacity: 1;}
