<div class="fullpage">
    <div>
        <h1>Classifica!</h1>
        <div class="highscore your-{{score.key === hs.highscores.key}}" *ngFor="let score of hs.highscores.highscores">
            <div *ngIf="(score.key != hs.highscores.key) && score.player">
                <svg viewBox="0 0 100 100">
                    <svg:g app-badge-cup [score]="score.score"></svg:g>
                </svg>
                <div class="player">{{score.player}}</div>
            </div>
            <div #yourscore *ngIf="score.key === hs.highscores.key">
                <svg viewBox="0 0 100 100" (click)="edit = true">
                    <svg:g app-badge-cup [score]="score.score"></svg:g>
                </svg>
                <div *ngIf="edit">
                    <input class="playername" [(ngModel)]="hs.highscores.player" (keyup.enter)="enterPlayer()" (focusout)="enterPlayer()">
                </div>
                <div *ngIf="!edit" class="player" (click)="edit = true">{{hs.highscores.player}}</div>
            </div>
        </div>
        <div *ngIf="hs.highscores.highscores.length === 0">Nessuna classifica, per adesso...</div>
    </div>
</div>